<html>
    <head>
        {% if title %}
        <title>{{ title }} - St. Thomas U.M.C. Food Pantry</title>
        {% else %}
        <title>Welcome to St. Thomas U.M.C. Food Pantry sign-up!</title>
        {% endif %}
    </head>
    <body>
        <!-- NavBar -->
        <div>
            Food Pantry:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <!-- Messages for logged in users -->
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <!-- SIGN-UP LINK; Omitted for now . . .
        <div>FoodPantry Sign-up: <a href="/index">Home</a></div> -->
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
