{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.short_bio.label }}<br>
            {{ form.short_bio(cols=50, rows=4) }}<br>
            {% for error in form.short_bio.errors %}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
